@import "bootstrap-sprockets";
@import "bootstrap";

$content-width: 1400px;

body {
  background-color: #F2F2F3;
  font-family: Futura;
  padding: 10px
}

header, footer {
  border: 5px solid #EE4B3E;
  border-radius: 8px;

}
img {
  width: $content-width/3;
  height: $content-width/4.5;
  margin: 20px;
  border-radius: 8px;
  border: 2px solid #EE4B3E;
}

h1, h2 {
  text-color: #1FDA9A;
  text-shadow: 2px white;
  text-align: center;
}


input {
  border-radius: 8px;
  border: 2px solid #1FDA9A;
}
